body {
  margin: 0;
  padding: 5px;
  background-color: #9999ff;
}
a {
  color: black;
  line-height: 2;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
 }
#nav {
  text-align: center;
}
h1 {
  text-align: center;
}
.blog-post {
  border: 1px solid black;
  background-color: #6666ff;
  margin: 20px 10px;
}